---
import SubscribeButton from "@/components/SubscribeButton";
import Container from "@/components/ui/Container";
import Layout from "@/layouts/Layout.astro";
import familyImg from "@/assets/family.png";
import { Image } from "astro:assets";
import { getPosts } from "@/lib/content";
import BlogRow from "@/components/BlogRow.astro";

const posts = await getPosts();
---

<Layout metadata={{ title: "Home" }}>
  <Container className="-mt-8">
    <div class="mx-auto mb-4 flex max-w-lg flex-col items-center text-center">
      <div class="relative mb-8">
        <Image
          alt="Engineering with Yagiz"
          src={familyImg}
          width={150}
          height={150}
          class="rounded-full"
        />
      </div>
      <div class="text-lg dark:text-zinc-200">
        Here's a collection of posts about my thoughts, stories, ideas and
        experiences as a human, and an engineer working with different
        technologies.
      </div>

      <SubscribeButton
        label="Subscribe Now"
        className="mt-6 h-9 items-center justify-center rounded-md border-[1px] border-solid border-slate-200 bg-white px-[15px] text-[11px] font-extrabold uppercase tracking-wider text-orange-400 outline-none hover:border-slate-300 dark:border-neutral-600 dark:bg-white-reversed dark:hover:border-neutral-500"
        client:load
      />
    </div>
  </Container>

  <div class="flex grow pt-8">
    <Container
      size="tight"
      className="divide-y divide-slate-200 dark:divide-neutral-700"
    >
      {posts.map((post) => <BlogRow {post} />)}
    </Container>
  </div>
</Layout>
