---
import type { Item } from "@/types/layout";
import { twitterUrl, rssUrl } from "@/lib/content";
import { Rss, Twitter } from "lucide-react";

const footerItems: Item[] = [
  { title: "Press", href: "/press" },
  { title: "Supporters", href: "/supporters" },
  { title: "Contact", href: "/contact" },
];
---

<footer class="flex flex-col items-center pb-20 pt-12 mx-auto w-full max-w-6xl">
  <div class="mb-8 flex">
    <a
      href={twitterUrl}
      class="mx-[4px] p-[3px] leading-[0] text-[#999] hover:text-[#CCC] dark:text-neutral-400"
      rel="noopener noreferrer"
      target="_blank"
    >
      <Twitter
        size={18}
        className="rounded-sm bg-[#999] hover:bg-[#CCC]"
        fill="white"
      />
      <span class="sr-only">Twitter</span>
    </a>

    <a
      href={rssUrl}
      class="mx-[4px] p-[3px] leading-[0] text-white dark:text-white-reversed"
      rel="noopener noreferrer"
      target="_blank"
    >
      <Rss
        size={18}
        className="rounded-sm bg-[#999] p-0.5 hover:bg-[#CCC] dark:bg-neutral-400 hover:dark:bg-neutral-500"
      />
      <span class="sr-only">RSS</span>
    </a>
  </div>
  <nav class="flex flex-wrap items-center justify-center">
    {
      footerItems.map((item, index) => (
        <a
          href={item.href}
          class:list={[
            "flex items-center text-xs font-normal text-slate-500 dark:text-neutral-400",
            index !== 0 &&
              "before:block before:px-[0.7rem] before:font-serif before:leading-[1] before:content-['·']",
          ]}
        >
          {item.title}
        </a>
      ))
    }
  </nav>
</footer>
