pre .s-282c34 {
  color: #282c34;
}
pre .sb-282c34 {
  background-color: #282c34;
}
pre .s-56b6c2 {
  color: #56b6c2;
}
pre .sb-56b6c2 {
  background-color: #56b6c2;
}
pre .s-5c6370 {
  color: #5c6370;
}
pre .sb-5c6370 {
  background-color: #5c6370;
}
pre .s-61afef {
  color: #61afef;
}
pre .sb-61afef {
  background-color: #61afef;
}
pre .s-7f848e {
  color: #7f848e;
}
pre .sb-7f848e {
  background-color: #7f848e;
}
pre .s-98c379 {
  color: #98c379;
}
pre .sb-98c379 {
  background-color: #98c379;
}
pre .s-abb2bf {
  color: #abb2bf;
}
pre .sb-abb2bf {
  background-color: #abb2bf;
}
pre .s-be5046 {
  color: #be5046;
}
pre .sb-be5046 {
  background-color: #be5046;
}
pre .s-c678dd {
  color: #c678dd;
}
pre .sb-c678dd {
  background-color: #c678dd;
}
pre .s-d19a66 {
  color: #d19a66;
}
pre .sb-d19a66 {
  background-color: #d19a66;
}
pre .s-e06c75 {
  color: #e06c75;
}
pre .sb-e06c75 {
  background-color: #e06c75;
}
pre .s-e5c07b {
  color: #e5c07b;
}
pre .sb-e5c07b {
  background-color: #e5c07b;
}
pre .s-f44747 {
  color: #f44747;
}
pre .sb-f44747 {
  background-color: #f44747;
}
pre .s-ffffff {
  color: #ffffff;
}
pre .sb-ffffff {
  background-color: #ffffff;
}
