---
import { rssUrl, twitterUrl } from '@/lib/content'

export interface Item {
  title: string
  href: string
}

const footerItems: Item[] = [
  { title: 'Press', href: '/press' },
  { title: 'Contact', href: '/contact' },
]

const socialItems: Item[] = [
  { title: 'Twitter', href: twitterUrl },
  { title: 'RSS', href: rssUrl },
]
---
<footer class="flex flex-col items-center pb-20 pt-12 mx-auto w-full max-w-6xl gap-y-4">
  <nav class="flex flex-wrap items-center justify-center">
    {
      footerItems.map((item, index) => (
        <a
          href={item.href}
          class:list={[
            "flex items-center text-xs font-normal text-slate-500 dark:text-neutral-400",
            index !== 0 &&
              "before:block before:px-[0.7rem] before:font-serif before:leading-[1] before:content-['·']",
          ]}
        >
          {item.title}
        </a>
      ))
    }
  </nav>

  <nav class="flex flex-wrap items-center justify-center">
  {
    socialItems.map((item, index) => (
      <a
        href={item.href}
        class:list={[
          "flex items-center text-xs font-normal text-slate-500 dark:text-neutral-400",
          index !== 0 &&
            "before:block before:px-[0.7rem] before:font-serif before:leading-[1] before:content-['·']",
        ]}
      >
        {item.title}
      </a>
    ))
  }
  </nav>
</footer>
