---
import type { Item } from './Footer.astro'

const headerItems: Item[] = [
  { title: 'Home', href: '/' },
  { title: 'About', href: '/about' },
  { title: 'Press', href: '/press' },
  { title: 'Contact', href: '/contact' },
]
---

<header
  class="flex h-navigation-bar items-center px-[4vw] mx-auto w-full max-w-[calc(1130px+8vw)]"
>
  <div class="flex flex-2 items-center">
    <a
      href="/"
      class="text-lg font-extrabold text-neutral-600 dark:text-neutral-200"
    >
      Yagiz <span class="hidden sm:inline">Nizipli</span>
      <span class="sr-only">Navigate to the homepage</span>
    </a>
  </div>

  <nav class="items-center md:flex">
    {
      headerItems.map((item) => (
        <a
          href={item.href}
          class="mx-1 md:mx-4 text-sm font-bold text-slate-800 hover:text-slate-600 dark:text-zinc-200"
        >
          {item.title}
        </a>
      ))
    }
  </nav>

  <div class="hidden items-center justify-end md:flex md:flex-[2]" />
</header>
