---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import familyImg from '@/assets/family.png'
import BlogRow from '@/components/BlogRow.astro'
import SubscribeButton from '@/components/SubscribeButton.astro'
import Container from '@/components/ui/Container.astro'
import Layout from '@/layouts/Layout.astro'
import { compareDesc } from 'date-fns'

const posts = await getCollection('blog', ({ data }) => data.status === 'published')
posts.sort((a, b) => compareDesc(a.data.date, b.data.date))
---

<Layout>
    <div class="-mt-8 mx-auto mb-4 flex max-w-lg flex-col items-center text-center">
      <div class="relative mb-8">
        <Image
          alt="Engineering with Yagiz"
          src={familyImg}
          width={150}
          height={150}
          loading="eager"
          class="rounded-full"
        />
      </div>
      <h1 class="sr-only">Yagiz Nizipli's website</h1>
      <div class="text-lg dark:text-zinc-200">
        Here's a collection of posts about my thoughts, stories, ideas and
        experiences as a human, and an engineer working with different
        technologies.
      </div>

      <SubscribeButton />
    </div>
  <div class="pt-8">
    <Container
      size="tight"
      class="divide-y divide-slate-200 dark:divide-neutral-700 mx-auto px-2"
    >
      {posts.map((post) => <BlogRow {post} />)}
    </Container>
  </div>
</Layout>
