---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import authorImg from '@/assets/author-image.png'
import Container from '@/components/ui/Container.astro'
import { compareDesc } from 'date-fns'
import { ArrowLeft, ArrowRight } from 'lucide-astro'

interface Props {
  index: number
}

const { index } = Astro.props
const posts = await getCollection('blog', ({ data }) => data.status === 'published')
posts.sort((a, b) => compareDesc(a.data.date, b.data.date))
const next = index !== 0 ? posts.at(index - 1) : undefined
const previous = index !== posts.length - 1 ? posts.at(index + 1) : undefined
---

<Container size="tight" class="mt-16 flex items-center mx-auto px-[4vw]" as="footer">
  <div class="flex flex-2 text-black dark:text-neutral-400">
    {
      previous !== undefined && (
        <a href={`/${previous.slug}`}>
          <ArrowLeft size={20} />
          <span class="sr-only">Previous article</span>
        </a>
      )
    }
  </div>

  <div class="flex flex-col">
    <div class="flex flex-col items-center gap-y-4">
      <h3
        class="mb-4 font-extrabold tracking-wide text-slate-800 dark:text-white"
      >
        Published by:
      </h3>
      <a href="/about">
        <Image
          src={authorImg}
          alt=""
          width={50}
          height={50}
          class="rounded-full"
        />
        <span class="sr-only">About</span>
      </a>
    </div>
  </div>

  <div class="flex flex-2 justify-end text-black dark:text-neutral-400">
    {
      next !== undefined && (
        <a href={`/${next.slug}`}>
          <ArrowRight size={20} />
          <span class="sr-only">Next article</span>
        </a>
      )
    }
  </div>
</Container>
