<button
  id="subscribe"
  type="button"
  class="mt-6 h-9 items-center justify-center rounded-md border-[1px] border-solid border-slate-200 bg-white px-[15px] text-[11px] uppercase tracking-wider text-orange-400 outline-none hover:border-slate-300 dark:border-neutral-600 dark:bg-white-reversed dark:hover:border-neutral-500 font-extrabold"
>
  Subscribe Now
  <span class="sr-only">to the newsletter</span>
</button>

<script>
  const button = document.querySelector('button#subscribe')
  
  button?.addEventListener('click', () => {
    const modal: HTMLDialogElement | null = document.querySelector('#subscribe-modal')
    modal?.showModal()
  })
</script>
