---
import type { HTMLAttributes } from 'astro/types'

export interface Props extends Omit<HTMLAttributes<'a'>, 'href'> {
  href: string
}

const { href, ...rest } = Astro.props
const isInternalLink = href && (href.startsWith('/') || href.startsWith('#'))
---

<a
  href={href}
  {...isInternalLink ? {} : { target: "_blank", rel: "noopener noreferrer" }}
  {...rest}
>
  <slot />
</a>
