on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
name: Link Checker
jobs:
  link-validator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run linkspector
        uses: umbrelladocs/action-linkspector@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          fail_level: any
