on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
name: Linter
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Biome
        uses: biomejs/setup-biome@v1
        with:
          version: "latest"
      - name: Run Biome
        run: biome check .
